html,
body,
.wrapper {
 	height: 100%;
}
body {
	font-family: "Lucida Sans Unicode", arial, verdana, sans-serif;
	background: #fff;
	width: 100%;
}
.clearfix:after {
	content: ' ';
	clear: both;
	height: 0;
	display: inline-block;
	visibility: hidden;
}

.wrapper {
	width: 1000px;
	height: 1310px;
	margin: 0px auto;
}
.container {
	width: 910px;
	margin: 0px auto;
	box-sizing: border-box;
  	min-height: 100%;
  	padding-bottom: 110px;
}
/*---------HEADER----------*/

.form_up {
	margin-top: 8px;
}
.telefon {
	display: inline-block;
	margin: 10px 0px 0px 8px;
}
.telefon img{
	width: 21px;
	height: 21px;
}
.telefon img,
.reg_form,
.right_block input[type="submit"] {
	vertical-align: middle;
	border-radius: 100px;
	background: rgba(31,104,135,1);
	background: -moz-linear-gradient(top, rgba(31,104,135,1) 0%, rgba(20,73,108,1) 51%, rgba(12,51,87,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(31,104,135,1)), color-stop(51%, rgba(20,73,108,1)), color-stop(100%, rgba(12,51,87,1)));
	background: -webkit-linear-gradient(top, rgba(31,104,135,1) 0%, rgba(20,73,108,1) 51%, rgba(12,51,87,1) 100%);
	background: -o-linear-gradient(top, rgba(31,104,135,1) 0%, rgba(20,73,108,1) 51%, rgba(12,51,87,1) 100%);
	background: -ms-linear-gradient(top, rgba(31,104,135,1) 0%, rgba(20,73,108,1) 51%, rgba(12,51,87,1) 100%);
	background: linear-gradient(to bottom, rgba(31,104,135,1) 0%, rgba(20,73,108,1) 51%, rgba(12,51,87,1) 100%);
}
.telefon span{
	line-height: 25px;
	letter-spacing: 0.023em;
	font-family: arial;
	font-size: 18px;
	color: #5e696d;
}
   /*------- AVTORIZATION FORM--------*/
.reg_form {
  	display: inline-block;
  	width: 489px;
  	padding: 2px 4px 4px 4px;
  	margin: 5px 0px 0px 11px;
  	vertical-align: middle;
  	border-radius: 4px;
  	-webkit-box-shadow: 3px 3px 3px 0px rgba(150,150,150,0.75);
 	-moz-box-shadow: 3px 3px 3px 0px rgba(150,150,150,0.75);
	box-shadow: 3px 3px 3px 0px rgba(150,150,150,0.75);
  	font-family: "Lucida Sans Unicode";
}
 .reg_form img {
 	margin: -1px 0px 0px 3px;
 	vertical-align: middle;
 }
 input {
 	display: inline-block;
 	line-height: 11px;
   	color: #97a2a6;
   	border: 1px solid #9ba1a3;
 }

 input[type="text"] {
   	width: 109px;
   	padding: 3px 0px 0px 3px;
   	font-size: 11px;
   	letter-spacing: 0.06em;
}
input[type="password"] {
   	width: 107px;
   	padding: 3px 0px 0px 6px;
   	font-size: 11px;
   	letter-spacing: 0.038em;
}
.reg_form input[type="submit"] {
	border: 0px solid transparent;
	background: transparent;
	border-right: 1px solid #fff;
	padding: 2px 6px 0px 2px;
}

.reg_form .registration {
	display: inline-block;
	color: #fff;
	font-size: 11px;
	vertical-align: middle;
	letter-spacing: -0.015em;
	margin-top: -4px;
}
.reg_form .not_mem {
	display: inline-block;
	color: #bfbfbf;
	font-size: 12px;
	padding-left: 16px;
	margin-top: -4px;
	letter-spacing: -0.015em;

}
.not_mem:hover {
	text-decoration: underline;
}
  /*------Navigation menu --------*/
.small_navi {
	display: inline-block;
	margin-top: 6px;
	padding: 0px;
	font-size: 0px;
}
.navi {
	position:relative;
	overflow: hidden;
	margin: -4px 0px 0px 10px;
	padding: 4px 3px 4px 9px;
	border: 1px solid #bdc4c7;
	box-sizing: border-box;
	border-radius: 20px;
	-webkit-box-shadow: 3px 3px 3px 0px rgba(188,195,198,1);
    -moz-box-shadow: 3px 3px 3px 0px rgba(188,195,198,1);
	box-shadow: 3px 3px 3px 0px rgba(188,195,198,1);
}
.navi li {
	margin-right: 8px;
	float: left;
} 
.navi li:nth-child(1),
.navi li:nth-child(3) {
	width: 12px;
}
.navi li:nth-child(2) {
	width: 13px;
	margin-right: 10px;
}

.navi a {
	height: 12px;
	display: block;
	background: url('../img/nav_sprite.png') 0 0 no-repeat;
	padding-right: 12px;
}

/*-------BANNER---------*/
.banner {
	margin-top: 9px;
}
/*------MENU--------*/
main {
	margin-top: 6px;
}
nav {
	margin: 0;
	padding: 0;
	background: #000;
	border: 1px solid #0d1642;
	border-radius: 5px;
	background: rgba(87,96,104,1);
	background: -moz-linear-gradient(top, rgba(87,96,104,1) 0%, rgba(79,95,99,1) 13%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(87,96,104,1)), color-stop(13%, rgba(79,95,99,1)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(87,96,104,1) 0%, rgba(79,95,99,1) 13%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(87,96,104,1) 0%, rgba(79,95,99,1) 13%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(87,96,104,1) 0%, rgba(79,95,99,1) 13%, rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(87,96,104,1) 0%, rgba(79,95,99,1) 13%, rgba(0,0,0,1) 100%);
	-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}
nav ul {
	margin-left: 130px;
}
nav li {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	
}
nav li a {
	color: #bcc3c6;
	padding: 3px 16px 3px 17px;
	
	display: block;
	font-family: "Lucida Sans Unicode";
	font-size: 14px;
	letter-spacing: -0.012em;
	line-height: 25px;
}
nav li a:hover {
	background: rgba(32,105,136,1);
	background: -moz-linear-gradient(top, rgba(32,105,136,1) 0%, rgba(17,65,101,1) 59%, rgba(12,50,86,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(32,105,136,1)), color-stop(59%, rgba(17,65,101,1)), color-stop(100%, rgba(12,50,86,1)));
	background: -webkit-linear-gradient(top, rgba(32,105,136,1) 0%, rgba(17,65,101,1) 59%, rgba(12,50,86,1) 100%);
	background: -o-linear-gradient(top, rgba(32,105,136,1) 0%, rgba(17,65,101,1) 59%, rgba(12,50,86,1) 100%);
	background: -ms-linear-gradient(top, rgba(32,105,136,1) 0%, rgba(17,65,101,1) 59%, rgba(12,50,86,1) 100%);
	background: linear-gradient(to bottom, rgba(32,105,136,1) 0%, rgba(17,65,101,1) 59%, rgba(12,50,86,1) 100%);
	color: #fff;
	border-radius: 15px;
}

.koshik {
	position: relative;
	color: #929b9f;
	font-size: 11px;
	font-family: arial;
	letter-spacing: 0.15px;
	padding: 3px 1px 3px 7px;
}
.pic:before {
	content:  " " ;
	position:  absolute;
	top: 1px;
	right: 65px;
	width:  20px;
	height: 20px;
	background: url("../img/koshik.png") no-repeat 0 0;
}
.koshik span {
	color: #0d5a8f;
	font-size: 12px;
	font-family: arial;
	padding: 2px 0px 3px 2px;
}
.sum {
	margin-top: 5px;
	margin-left: 2px;
}
.sum span {
	padding: 2px 0px 3px 11px;
	letter-spacing: 0.018em;
}
/*----------SECTION SEARCH----------*/
.search {
	position: relative;
	overflow: hidden;
	margin-top: 12px;
	height: 146px;
}
.search h1 {
	text-align: center;
	padding: 2px 4px 0px 0px;
}

.search h1,
.tire h2,
.disk h2 {
	font-family: arial;
	font-size: 12px;
	color: #154467;
	letter-spacing: 0.12em;
	line-height: 12px;
}
.poisk {
	padding-bottom: 9px;
	margin-right: 20px;
	text-align: right;
	margin-top: -17px;
}
.search a {
	display: inline-block;
	font-family: arial;
	font-size: 14px;
	font-style: italic;
	color: #154467;
	line-height: 13px;
	border-bottom: 2px solid #154467;
}

.search select {
	display: inline-block;
	-webkit-box-shadow: inset 1px 1px 1px 0px rgba(0,0,0,1);
    -moz-box-shadow: inset 1px 1px 1px 0px rgba(0,0,0,1);
	box-shadow: inset 1px 1px 1px 0px rgba(0,0,0,1);
	font-size: 11px;
	color: #000;
	border-bottom: 0;
	padding-bottom: 1px;
}

.search_car {
	float: left;
	width: 413px;
	margin: 0 5px;
	border: 1px solid #9c9c9d;
	border-radius: 18px;
	-webkit-box-shadow: 3px 4px 5px 0px rgba(104,104,104,1);
    -moz-box-shadow: 3px 4px 5px 0px rgba(104,104,104,1);
	box-shadow: 3px 4px 5px 0px rgba(104,104,104,1);
}
.form_car {
	position: relative;
	overflow: hidden;
	margin: -8px 0px 0px 4px;
}
.form_car_disk {
	float: left;
	width: 184px;
	margin: -1px 0px 0px 13px;
}

.form_car legend {
	font-family: arial;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 1.28px;
	line-height: 10px;
	color: #154468;
}
select[name="car_mark"],
select[name="car_model"],
select[name="car_complect"] {
	width: 102px;
}
select[name="car_year"] {
	width: 58px;
}
.form_car_disk legend {
	text-align: left;
	padding: 0px 0px 4px 4px;
}

.disk_car_1 {
	float: left;
	width: 76px;
}
.bold_title {
	display: block;
	float: left;
	color: #000;
	font-family: arial;
	font-size: 10px;
	font-weight: bold;
	line-height: 0.5em;
	letter-spacing: -0.03em;
}
.norm_title {
	display: block;
	float: left;
	color: #77858b;
	font-size: 9px;
	vertical-align: middle;
}
.bold_title {
	display: block;
	float: left;
	color: #000;
	font-family: arial;
	font-size: 10px;
	font-weight: bold;
	line-height: 0.5em;
	letter-spacing: -0.03em;
}
.norm_title {
	display: block;
	float: left;
	color: #77858b;
	font-size: 9px;
	vertical-align: middle;
}

/*-----RIGHT  PART  FORM  CAR ----*/
.form_car_tire {
	float: left;
	width: 180px;
	margin: -3px 0px 0px 20px;
}
.form_car_tire legend {
	text-align: right;
	margin-top: 1px;
	padding: 0px 5px 1px 0px;
}
.tire_car_1 {
	float: left;
	width: 76px;
}

/*------Search form for tires-----*/
.tire h2,
.disk h2 {
	text-align: left;
	padding-right: 2px;
}

.tire,
.disk {
	float: left;
	border: 1px solid #9c9c9d;
	border-radius: 20px;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(150,150,150,1);
    -moz-box-shadow: 5px 5px 5px 0px rgba(150,150,150,1);
	box-shadow: 5px 5px 5px 0px rgba(150,150,150,1);
}
.disk {
	border-radius: 15px;
}

.tire {
	width: 192px;
	margin: 0px 9px;
}
.tire h2 {
	margin-left: 9px;
	margin-top: 3px;
}
.tire_form {
	margin-left: 11px;
	margin-top: 2px;
}
.tire_form span {
	font-size: 12px;
}
.tire select, 
.disk select {
	font-size: 11px;
	color: #000;
	line-height: 14px;
}
.tire label {
	display: inline-block;
	width: 42px;
	color: #010101;
	font-family: arial;
	font-size: 11px;
	vertical-align: bottom;
	letter-spacing: 0.00em;
	text-align: right;
	line-height: 10px;

}
.tire_size {
	width: 53px;
	margin-top: -8px;
}
.tire .R,
.season_f legend {
	padding-bottom: 3px;
	font-size: 10px;
}
.season_f legend {
	display: block;
	margin: 0;
}
.R_select {
	width: 45px;
	margin: 7px 0px 0px -1px;
}
.tire_size_2 {
	margin-top: -8px;
	padding-left: 1px;
	width: 53px;
}

 .tire .season_f {
	display: block;
	font-size: 12px;
	padding-left: 2px;
	line-height: 14px;
	width: 64px;
	margin-top: 2px;
}
.season_ch {
	margin: -15px 0px 0px 44px;
	width: 40px;
}
.season_ch input {
	margin-top: 1px;
	
}
.season_f .season_ch label {
	margin-top: -1px;
	vertical-align: top;
	width: 65px;
	text-align: left;
}
.tire .poisk {
	margin-top: -5px;
}
/*------form search for disk ----*/
.disk {
	width: 265px;
	margin-right: 3px;
}
.disk_f form {
	position: relative;
	overflow: hidden;
	margin-top: 0px;
}
.disk_right {
	float: left;
	width: 67px;
	margin: -23px 13px 0px 10px;
	padding-left: 9px;
	border-left: 1px solid #bdc6ca;
}
.disk h2 {
	display: inline-block;
	margin: -8px 15px 0px 9px;
	letter-spacing: 0.168em;
	width: 110px;
}
.disk_left1 {
	float: left;
	width: 88px;
}

.disk_right label {
	display: block;
	line-height: 0.82em;
}
.disk_left {
	float: left;
	width: 162px;
	margin: -2px 0px 0px 3px;
	padding-bottom: 0px;
}

select[name="disk_D"] {
	width: 58px;
	margin-left: 14px;
	padding-left: 1px;
}
select[name="disk_D_otv"] {
	width: 58px;
	margin: 13px 0px 0px 14px;
	padding: 0px;
}

select[name="disk_DCO"],
select[name="disk_ET"] {
	width: 58px;
	margin: 0px;
	padding: 0px;
}
select[name="disk_count"] {
	width: 52px;
	margin: 12px 0px 0px 14px;
	padding-left: 1px;
}
.disk .poisk {
	margin-top: 65px;
	margin-right: 18px;
}

/*-------- CENTRAL BLOCK--------*/
.central_block {
	margin: 0;
	padding: 0;
	position: relative;
	margin-top: 5px;
	height: 656px;
}
 .left_block {
	float: left;
	width: 184px;
	margin-top: -6px;
}

.right_block {
	float: right;
	width: 184px;
	margin-top: -8px;
}
.hat img {
	width: 21px;
	height: 21px;
	margin: 0px 0px 0px 3px;
}

.hat {
	margin-top: 9px;
	border: 1px solid #79878d;
	border-radius: 15px;
	-webkit-box-shadow: 3px 3px 3px 0px rgba(150,150,150,0.75);
 	-moz-box-shadow: 3px 3px 3px 0px rgba(150,150,150,0.75);
	box-shadow: 3px 3px 3px 0px rgba(150,150,150,0.75);
}
.hat h1 {
	display: inline-block;
	color: #114165;
	font-size: 12px;
	font-family: 'Lucida Sans Unicode';
	line-height: 25px;
	letter-spacing: -0.04em;
	padding-top: 1px;
	margin-left: -2px;
}

.right_block .hat {
	border-radius: 20px;
	margin-left: 2px;
	
}
.right_block .hat h1 {
	margin-top: -3px;
	margin-left: -1px;
	font-size: 13px;
	line-height: 24px;
	letter-spacing: -0.02em;
}
.tovar_name {
	margin: 12px 0px 0px -1px;
	font-weight: 500;
}
.right_block .tovar_name {
	margin: 13px 0px 0px 14px;
}
.title {
	position: relative;
	display: inline-block;
	line-height: 25px;
}
.left_block .title {
	width: 120px;
}

.right_block .title {
	width: 138px;
	line-height: 25px;
	padding: 1px 0px 0px 47px;
	margin: 0px;
	letter-spacing: 0.08em;
}
.right_block .tovar_name .other {
	width: 104px;
	padding-left: 50px;
	margin: 9px 0px 0px -4px;
}
.tovar_name .other .check_block {
	margin-top: 4px;
}

.left_block .title span {
	border: 1px solid #79878d;
	border-radius: 15px;
	color: #114165;
	font-size: 14px;
	padding: 6px 76px 4px 30px;
	margin-left: -45px;
}

.right_block .tovar_name .other span {
	padding-right: 54px;
} 
.title:before {
	content: " ";
	position:  absolute;
	top: 3px;
	left: -39px;
	height: 12px;
	width: 12px;
	border: 5px solid #114165;
	border-radius: 20px;
}
.right_block .title:before {
	top: 5px;
	left: 7px;
}
.right_block .other:before {
	top: 5px;
	left: 9px;
}
.left_block .title ul {
	width: 130px;
	margin: -4px 0px -4px -6px;
}

.title ul li {
	margin: 0px 4px 0px 10px;
}
.tovar_name a {
	color: #465961;
	font-size: 13px;
	line-height: 22px;
	letter-spacing: -0.00em;
	font-weight: normal;
	padding-left: 3px;
}
.left_block .title  ul li:before {
	content: "\25CB";
	font-weight: bold;
	color: #465961;
	font-size: 10px;
	margin-left: -14px;
	vertical-align: middle;
	line-height: 20px;
}
.tovar_name a:hover {
	font-family: arial;
	color: #0c3256;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	letter-spacing: -0.00em;
	text-decoration: underline;
}
.right_block .title span {
	border: 1px solid #79878d;
	border-radius: 13px;
	color: #114165;
	font-size: 14px;
	padding: 4px 59px 5px 30px;
	margin-left: -45px;
	letter-spacing: 0.024em;
}
.right_block label {
	padding: 0px 0px 0px 6px;
	color: #465961;
	font-size: 13px;
	line-height: 1.2em;
	letter-spacing: 0.00em;
	vertical-align: middle;
}
.right_block input {
	line-height: 1.2em;
	vertical-align: middle;
}
.right_block .check_block {
	margin-left: -46px;
	margin-top: 2px;
}
.right_block input[type="submit"] {
	color: #e5e9ea;
	font-family: arial;
	font-size: 12px;
	border: 1px solid #a7abae;
	border-radius: 12px;
	letter-spacing: 0.01em;
	margin: 17px 0px 0px 25px;
	padding: 5px 12px 6px 12px;
}

/*-------BLOCK TOVAR----------*/
.block_Tovar {
	float: left;
	width: 527px;
	margin: 0px 0px 0px 7px;
	background: rgba(201,207,209,1);
	background: -moz-linear-gradient(top, rgba(201,207,209,1) 0%, rgba(35,75,93,0.49) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(201,207,209,1)), color-stop(100%, rgba(35,75,93,0.49)));
	background: -webkit-linear-gradient(top, rgba(201,207,209,1) 0%, rgba(35,75,93,0.49) 100%);
	background: -o-linear-gradient(top, rgba(201,207,209,1) 0%, rgba(35,75,93,0.49) 100%);
	background: -ms-linear-gradient(top, rgba(201,207,209,1) 0%, rgba(35,75,93,0.49) 100%);
	background: linear-gradient(to bottom, rgba(201,207,209,1) 0%, rgba(35,75,93,0.49) 100%);
} 
.block_Tovar ul {
	padding: 15px 0px 0px 23px;
}
.block_Tovar li {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	padding: 0px 23px 25px 0px;
}
.block_Tovar .second_line  {
	padding: 0px 23px 26px 0px;
}
.block_Tovar .third_line  {
	padding: 0px 23px 28px 0px;
}

.brend {
	font-family: 'Lucida Sans Unicode';
	font-size: 15px;
	line-height: 13px;
	color: #206988;
}
.mark {
	font-family: 'Lucida Sans Unicode';
	font-size: 13px;
	line-height: 13px;
	color: #1f2528;
}
.white_fon {
	background: #fff;
	border: 1px solid #a4aeb1;
	border-radius: 6px;
	width: 137px;
	height: 127px;
}
.white_fon img {
	display: block;
	vertical-align: middle;
}
.cost {
	color: #114165;
	font-family: arial;
	font-weight: bold;
	font-style: italic;
	font-size: 16px;
}
.uah {
	font-size: 14px;
	vertical-align: baseline;
}
/*-------BRENDS LOGO ---------*/
.brendLogo {
	position: relative;
	overflow: hidden;
	margin-top: 4px;
	margin-left: 118px;
}
.brendLogo li {
	margin: 0;
	padding: 0;
	float: left;
	margin: 0px 10px;
}
.brendLogo a {
	display: block;
	height: 35px;
	background: url("../img/brend_sprite.png") 0 0 no-repeat;
}

/*----------FOOTER-----------*/
footer {
	margin: 0 auto;
	padding: 0;
	height: 110px;
	width: 910px;
	margin-top: -110px;
	background: #213a4d;
	border: 1px solid #242a3c;
}
footer ul {
	margin: 4px 0px 12px 296px;
}

footer li {
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

footer li a {
	color: #bec6c9;
	font-size: 12px;
	font-family: arial;
	padding: 0px 11px 0px 14px;
	border-right: 2px solid #6a7b87;
}
footer li:last-child a {
	border-right: 2px solid transparent;
}

footer li a:hover {
	color: #52abcb;
}
footer p {
	color: #7f4740;
	font-size: 10px;
	text-align: center;
}